* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

}

@media (min-width: 768px) {
    .about-us-page {
        display: none;;
    }
}

body {
    font-family: Inter, sans-serif;
    color: #636060;
    background-color: #EDF2EC;
    width: 1440px;
    box-sizing: border-box;
}

section {
    width: 1220px;
}

.container {
    padding: 0px calc(((100vw - 1440px) / 2) + 109px);
    /* min-width: 1440px; */
}

button {
    background-color: none;
}

.button {
    cursor: pointer;
    color: black;
    text-decoration: none;
    border: #E06733 2px solid;
    padding: 10px 27px;
    border-radius: 10px;
    align-self: self-start;
    transition: all 0.2s linear;
}

.button.v2 {
    background-color: #EDF2EC;
    font-size: 20px;
    text-decoration: none;
    color: #E06733;
    border: 2px #E06733 solid;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 38px;
    font-weight: 700;
    transition: all 0.2s linear;
}

.button:hover {
    background-color: #E06733;
    color: #fff;
}

.blur {
    filter: blur(0px);
    transition: all 0.5s linear;
}

.accordion-btn {
    background-color: #AEA1A1;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
    position: relative;
    transition: all 0.3s linear;
}

.arrow {
    position: absolute;
    top: 33%;
    width: 3px;
    rotate: calc(-45deg);
    height: 3px;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    transition: all 0.3s linear;
}

.head-line {
    padding: 42px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.novigation-text {
    color: black;
    text-decoration: none;
    font-family: Inika;
    transition: all 0.3s linear;
}

.novigation-text:hover {
    color: #E06733;
    font-weight: bold;
}

.novigation {
    display: flex;
    width: 452px;
    justify-content: space-between;
}

.logo-text {
    color: black;
    text-decoration: none;
    font-family: Inika;
    font-weight: 400;
    font-size: 17px;
}

.header-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1222px;
    height: 482px;
    padding: 100px 0px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    width: 549px;
}

.header-text h1 {
    font-size: 45px;
    line-height: 50px;
}

.header-text h1 span {
    color: #499A18;
}

.header-text p {
    width: 525px;
    height: 105px;
    line-height: 35px;
    font-size: 20px;

}

.leafs {
    min-width: 448px;
    min-height: 407px;
}





/* about us zone */

.about-us-page {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1222px;
}

.au-text-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 605px;
    height: 350px;
}

.au-h2-text {
    color: #499A18;
    font-family: Inika;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    width: 463px;
}

.au-h2-text span {
    color: #E06733;
}

.au-text {
    width: 605px;
    height: 208px;
    font-size: 20px;
    line-height: 30px;
}




/* our prohects zone */

.our-peogects-page {
    position: relative;
    height: 1300px;
    padding-bottom: 131px;
}

.op-headline {
    width: 1007px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.op-h2-text {
    color: #499A18;
    font-family: Inika, serif;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    width: 306px;
    height: 94px;
}

.card-holder {
    position: relative;
    top: 90px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 330px 330px 330px;
    gap: 117px;
    align-items: stretch;
    height: 1055px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-text-box {
    width: 328px;
    height: 99px;
    border: 1px #E3E1D5 solid;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-text-h2 {
    font-size: 20px;
    font-weight: 700;
    color: #E06733;
    margin: 10px;
}

.card-text {
    margin: 0px;
}

.card-img {
    border-radius: 20px 20px 0px 0px;
    max-width: 329px;
}





/* prices zone */

.prices-page {
    position: relative;
    height: 460px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 115px;
}

.prices-h2-text {
    position: absolute;
    color: #000;
    font-size: 40px;
}

.prices-box {
    width: 332px;
    height: 282px;
    border: 1px #E3E1D5 solid;
    border-radius: 20px;
    margin-top: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 34px 41px;
    box-sizing: border-box;
}

.price {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 50px;
    padding: 13px 40px;
    background-color: #EDF2EC;
    border: 0px;
    border-radius: 20px;
    transition: all 0.3s linear;
    opacity: 1;
    box-sizing: border-box;
}

.price-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: inter, serif;
    border: 0px;
    background: none;
    margin-bottom: 8px;
}

.accordion-btn.in-price {
    rotate: 0deg;
    background-color: #D9D9D9;
}

.arrow.in-price {
    border-color: #717171;
}

.dop-content {
    font-size: 10px;
    line-height: 10px;
    color: #AEA1A1;
    overflow: hidden;
}

.tet.price {
    padding: 0 40px;
    height: 20px;
}

.tet.price b {
    transition: all 0.3s linear;
    opacity: 0;
}

.tet.price .accordion-btn {
    transition: all 0.3s linear;
    opacity: 0;
}

.price-pressed.price {
    width: 250px;
    height: 154px;
    overflow: visible;
    background-color: #D6E7D2;
}

.dop-content .firP {
    border-top: 1px solid #AEA1A1;
    padding-top: 5px;
}

.dop-content .secP {
    font-size: 12px;
    height: 35px;
    display: flex;
    align-items: center;
    color: #000;
    font-weight: 400;
}

.dop-content span {
    font-size: 16px;
    color: #E06733;
    font-weight: 700;
}

.dop-content .secSP {
    font-size: 13px;
}

.order-button {
    cursor: pointer;
    height: 25px;
    width: 86px;
    border-radius: 10px;
    background-color: white;
    color: #636060;
    font-weight: bold;
    border: 0px;
}

.order-button:hover {
    background-color: #ececec;
}



.prices-content {
    width: 452px;
    height: 405px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
}

.prices-content img {
    max-width: 152px;
}

.prices-content h1 {
    color: #000;
    font-weight: 700;
    text-align: right;
    font-size: 40px;

}

.prices-content h1 span {
    color: #499A18;
}

.prices-content a {
    text-decoration: none;
    color: #E06733;
    border: 1px #E06733 solid;
    border-radius: 5px;
    width: 162px;
    height: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 14px;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

.prices-content a:hover {
    background-color: #E06733;
    color: #fff;
}




/* contact us zone */

.contact-us-page {
    position: relative;
    display: flex;
    height: 570px;
    justify-content: space-between;
    align-items: end;
}

.contact-us-page h2 {
    font-size: 40px;
    font-family: Inika, serif;
    color: #499A18;
    margin-bottom: 440px;
}

.contact-us-page img {
    max-width: 400px;
    max-height: 500px;
}

.dropdown {
    width: 450px;
    position: relative;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    font-size: 30px;
    background-color: #D6E7D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0px 35px 0px 15px;
    cursor: pointer;
    width: 450px;
    height: 50px;
    margin-bottom: 350px;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 16px;
    transition: backgraund 0.3s;
    transition: all 0.1s linear;
}

.select-clicked {
    background-color: #C1E698;
    box-shadow: none;
}

.select:hover {
    background-color: #C1E698;
    box-shadow: none;
}

.menu {
    list-style: none;
    padding: 17px 20px;
    background-color: #DCE9D9;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s linear;
    border-bottom: 1px #D9D9D9 solid;
    color: #499A18;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 12px 0;
    transition: all 0.1s linear;
    cursor: pointer;
}

.menu li:hover {
    color: #717171;
}

.active {
    border-bottom: 1px #717171 solid;
    color: #717171;
}

.menu-open {
    display: block;
    opacity: 1;
}

.select-section {
    position: relative;
    top: -90px;
    width: 450px;
    height: 311px;
}

table {
    border-collapse: collapse;
    line-height: 35px;
    ;
}

td {
    font-size: 16px;
    width: 127px;
    text-align: left;
}

.first {
    color: #000;
    width: 127px;
}

.second {
    width: 190px;
}



.call-btn {
    width: 122px;
    height: 26px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    left: calc(50% - 61px);
    font-family: inika;
    color: #717171;
    bottom: 22px;

}



.city-card {
    box-sizing: border-box;
    position: relative;
    top: -300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 448px;
    height: 214px;
    padding: 17px 33px;
    background-color: none;
    border-radius: 20px;
    opacity: 0;
    border: 1px #000 solid;
}

.card-active {
    opacity: 1;
}

.city-choose-menu-content p {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.city-choose-menu-content img {
    max-block-size: 16px;
}


/* footer zone */


footer {
    position: relative;
    width: 1220px;
    height: 130px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    width: 182px;
    display: flex;
    justify-content: space-between;
}

.left-content,
.footer-text,
.right-content {
    height: 50px;
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
}

.right-content {
    align-items: end;
    width: 188px;
    justify-content: space-between;
}