* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

}

.blur {
    filter: blur(0px);
    transition: all 0.5s linear;
}

body {
    font-family: Inter, sans-serif;
    color: #636060;
    background-color: #EDF2EC;
    width: 1440px;
    box-sizing: border-box;
}

section {
    width: 1220px;
}

.container {
    padding: 0px calc(((100vw - 1440px) / 2) + 109px);
    /* min-width: 1440px; */
}

.button {
    color: black;
    text-decoration: none;
    border: #E06733 2px solid;
    padding: 10px 27px;
    border-radius: 10px;
    align-self: self-start;
    transition: all 0.2s linear;
}

.button.v2 {
    background-color: #EDF2EC;
    font-size: 20px;
    text-decoration: none;
    color: #E06733;
    border: 2px #E06733 solid;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 38px;
    font-weight: 700;
    transition: all 0.2s linear;
}

.button:hover {
    background-color: #E06733;
    color: #fff;
}

.head-line {
    padding: 42px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.novigation-text {
    color: black;
    text-decoration: none;
    font-family: Inika;
    transition: all 0.3s linear;
}

.novigation-text:hover {
    color: #E06733;
    font-weight: bold;
}

.novigation {
    display: flex;
    width: 452px;
    justify-content: space-between;
}

.logo-text {
    color: black;
    text-decoration: none;
    font-family: Inika;
    font-weight: 400;
    font-size: 17px;
}

.header-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1222px;
    height: 482px;
    padding: 100px 0px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    width: 549px;
}

.header-text h1 {
    font-size: 45px;
    line-height: 50px;
}

.header-text h1 span {
    color: #499A18;
}

.header-text p {
    width: 525px;
    height: 105px;
    line-height: 35px;
    font-size: 20px;

}

.leafs {
    min-width: 448px;
    min-height: 407px;
}





/* about us zone */

.about-us-page {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1222px;
}

.au-text-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 605px;
    height: 350px;
}

.au-h2-text {
    color: #499A18;
    font-family: Inika;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    width: 463px;
}

.au-h2-text span {
    color: #E06733;
}

.au-text {
    width: 605px;
    height: 208px;
    font-size: 20px;
    line-height: 30px;
}




/* our prohects zone */

.our-peogects-page {
    position: relative;
    height: 1300px;
    padding-bottom: 131px;
}

.op-headline {
    width: 1007px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.op-h2-text {
    color: #499A18;
    font-family: Inika, serif;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    width: 306px;
    height: 94px;
}

.card-holder {
    position: relative;
    top: 90px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 330px 330px 330px;
    gap: 117px;
    align-items: stretch;
    height: 1055px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-text-box {
    width: 328px;
    height: 99px;
    border: 1px #E3E1D5 solid;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-text-h2 {
    font-size: 20px;
    font-weight: 700;
    color: #E06733;
    margin: 10px;
}

.card-text {
    margin: 0px;
}

.card-img {
    border-radius: 20px 20px 0px 0px;
    max-width: 329px;
}





/* prices zone */

.prices-page {
    position: relative;
    height: 460px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 115px;
}

.prices-h2-text {
    position: absolute;
    color: #000;
    font-size: 40px;
}

.prices-box {
    width: 332px;
    height: 282px;
    border: 1px #E3E1D5 solid;
    border-radius: 20px;
    margin-top: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 34px 41px;
    box-sizing: border-box;
}

.prices-menu {
    display: flex;
    flex-direction: column;
}

.tet.price {
    padding: 0;
    height: 20px;
}

.tet.price b {
    color: rgba(0, 233, 0, 0);
}

.price-pressed.price {
    width: 250px;
    height: 154px;
    overflow: visible;
    background-color: #D6E7D2;
}

.price {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: center;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    padding: 16px 40px 12px;
    background-color: #EDF2EC;
    border: 0px;
    border-radius: 20px;
    transition: all 0.3s linear;
    box-sizing: border-box;

}

.price-button {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: inter, serif;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.dop-content {
    font-size: 10px;
    line-height: 10px;
    color: #AEA1A1;
    overflow: hidden;
}

.dop-content .firP {
    border-top: 1px solid #AEA1A1;
    padding-top: 5px;
}

.dop-content .secP {
    font-size: 12px;
    height: 35px;
    display: flex;
    align-items: center;
    color: #000;
    font-weight: 400;
}

.dop-content span {
    font-size: 16px;
    color: #E06733;
    font-weight: 700;
}

.dop-content .secSP {
    font-size: 13px;
}

.order-button {
    height: 25px;
    width: 86px;
    border-radius: 10px;
    background-color: white;
    color: #636060;
    font-weight: bold;
    border: 0px;
}


.acc-png {
    max-block-size: 16px;
}

.prices-content {
    width: 452px;
    height: 405px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
}

.prices-content img {
    max-width: 152px;
}

.prices-content h1 {
    color: #000;
    font-weight: 700;
    text-align: right;
    font-size: 40px;

}

.prices-content h1 span {
    color: #499A18;
}

.prices-content a {
    text-decoration: none;
    color: #E06733;
    border: 1px #E06733 solid;
    border-radius: 5px;
    width: 162px;
    height: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 14px;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

.prices-content a:hover {
    background-color: #E06733;
    color: #fff;
}




/* contact us zone */



.spisok {
    
}

.contact-us-page {
    position: relative;
    display: flex;
    height: 570px;
    justify-content: space-between;
    align-items: end;
}

.contact-us-page h2 {
    font-size: 40px;
    font-family: Inika, serif;
    color: #499A18;
    margin-bottom: 440px;
}

.contact-us-page img {
    max-width: 400px;
    max-height: 500px;
}

.city-choose-menu {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 35px 0px 15px;
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    margin-bottom: 350px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 16px;
    border: none;

}

.city-choose-menu-content {
    display: flex;
    justify-content: space-between;
    width: 395px;
    height: 21px;
    align-items: center;
}

.city-choose-menu-content p {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.city-choose-menu-content img {
    max-block-size: 16px;
}



/* footer zone */


footer {
    position: relative;
    width: 1220px;
    height: 130px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    width: 182px;
    display: flex;
    justify-content: space-between;
}

.left-content,
.footer-text,
.right-content {
    height: 50px;
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
}

.right-content {
    align-items: end;
    width: 188px;
    justify-content: space-between;
}